* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin: 20px 0;
  color: #333;
}
.event-form{
  
  width:450px;
  height: 450px;
  margin: 20px auto;
  padding:20px;
  border:2px solid #ccc;
  border-radius: 8px;
  ;
}
.Events{
  width: 950px;
  height: 450px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
} 
.div{
  display: flex;
  justify-content: center;
}
.demo{
  width: 1500px;
  height: 200px;
  margin: 20px ;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
}